@import "tailwindcss";

.icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  
}

.icon.github {
  background-image: url('/icon/github.svg');
}

.icon.html{
  background-image: url('/icon/html.svg');
}

.icon.css {
  background-image: url('/icon/css.svg');
}

.icon.js {
  background-image: url('/icon/js.svg');
}

.icon.vue {
  background-image: url('/icon/vue-16.svg');
}

.icon.tailwindcss {
  background-image: url('/icon/tailwindcss.svg');
}

.icon.cpp {
  background-image: url('/icon/cpp2.svg');
}

.icon.php {
  background-image: url('/icon/php-16.svg');
}

.icon.laravel {
  background-image: url('/icon/laravel.svg');
}

.icon.drogon {
  background-image: url('/icon/drogon.svg');
}

.icon.emc2 {
  background-image: url('/icon/emc2.svg');
}

.icon.falling-apple {
  background-image: url('/icon/falling-apple.svg');
}

.icon.space {
  background-image: url('/icon/space.svg');
}

.icon.code {
  background-image: url('/icon/code.svg');
}

.icon.coding {
  background-image: url('/icon/coding.svg');
}

.icon.cpu {
  background-image: url('/icon/cpu.svg');
}

.icon.crayon {
  background-image: url('/icon/crayon.svg');
}

.icon.telegram {
  background-image: url('/icon/telegram.svg');
}

.icon.gmail {
  background-image: url('/icon/gmail.svg');
}

@font-face {
  font-family: 'Vazir';
  src: url('/fonts/vazir-font-v16.1.0/Vazir.woff2') format('woff2'),
       url('/fonts/vazir-font-v16.1.0/Vazir.woff') format('woff'),
       url('/fonts/vazir-font-v16.1.0/Vazir.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}